services:
  web:
    build: .
    container_name: gestiondmi_web
    command: gunicorn pme_manager.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: gestiondmi_db
    environment:
      POSTGRES_DB: gestiondmi
      POSTGRES_USER: dmiuser
      POSTGRES_PASSWORD: dmi@2025
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:

